# igcapt properties file gets edited each run.
# to change remove from .gitignore and change

igcapt.properties

# the following gdtaf directories contain jakarta 
# genrated code  No need to add to git
src/main/java/gov/inl/igcapt/gdtaf/core/
src/main/java/gov/inl/igcapt/gdtaf/gucs/
src/main/java/gov/inl/igcapt/gdtaf/core/

# ignore the build artifacts
target/
